.main-page {
    margin: 50px;
    font-family: var(--font-family);
    min-width: 700px;
}

.title-icon {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    margin-right: 10px;
}

.title {
    display: inline-block;
    vertical-align: top;
    font-size: xx-large;
}

.title-row {
    display: block;
    height: 80px;
}

.text {
    font-weight: 100;
    font-size: large;

}

.block {
    display: inline-block;
    vertical-align: top;
}

.row {
    display: block;
    min-height: 120px;
    white-space: nowrap;
}

.releaseNotesRow {
    display: block;
    min-height: 50px;
    white-space: nowrap;
}

.link {
    display: inline;
    color: var(--vscode-debugIcon-continueForeground);
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
    color: var(--vscode-button-hoverBackground);
}

.italics {
    display: inline;
    font-style: italic;
}

.checkbox {
    margin: 1em 1em 1em 0em;
}

.paragraph {
    display: block;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.list {
    line-height: 1.5;
    white-space: initial;
}

.checkMark {
    display: inline-block;
}

.button {
    width: 310px;
    background-color: var(--vscode-titleBar-activeBackground);
    padding: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 31px;
}

.button-text{
    font-size: medium;
    display: inline-block;
}

.button:hover {
    background-color: var(--vscode-editorIndentGuide-activeBackground);
    cursor: pointer;
}

.instructions {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    /* margin-left: auto; */
    opacity: 0.4;
    /* margin-right: 0; */
}

.icon {
    display: inline-block;
    margin-right: 15px;
    margin-left: 5px;
}

.check-icon {
    margin: auto;
    /* top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.checkContainer {
    display: inline-block;
    padding: 35px 20px 35px 0;
    text-align: center;
}

.headingText {
    font-weight: bold;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
}

a:hover,
.showFeatures:hover {
    cursor: pointer;
}

.MuiTab-root {
    min-width: 120px !important;
}

.numberCircle {
    border-radius: 50%;
    width: 23px;
    height: 23px;
    padding: 8px;
    font-size: 1.7em;

    border: 5px solid;
    text-align: center;
}